.give-back-button {
    background-color: #E02735;
    color: #F7F7F7;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    /*margin-left: 15px;*/
    font-size: 20px;
    float: right;
    margin-top: 12px;

}
